.cursor {
  top: 0;
  left: 0;
  --w: 50px;
  --h: 50px;
  --x: 0;
  --y: 0;
  transform: translate3D(calc(var(--x) * 1px - 50%), calc(var(--y) * 1px - 50%), 0);
  transform-origin: center;
  
  width: var(--w);
  height: var(--h);

  transition: width 0.2s, height 0.2s;

  position: fixed;
  border: solid 2px currentcolor;
  pointer-events: none;
}