.title {
	/* weight should be at least 100 with 900 as limit
	so since distance oscilates between 0 and 1,
	if distance is 0 it will be at least 100 */
  font-variation-settings: 'wght' calc(var(--distance, 0) * 800 + 100);
  letter-spacing: 0em;
}

.grid {
  background: black;
  background-image: linear-gradient(rgba(255, 255, 255, .08) .1em, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .08) 1px, transparent .1em);
  background-size: 3em 3em;
  background-position: center center;
}